<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="4.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="Geckofx60.64" version="60.0.39" targetFramework="net472" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>